@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  margin: 20px;
  padding: 0;
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;

}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  margin-left: 150px;
  margin-top: 10px;
}
.status {
  margin-left: 150px;
    font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

}

.game{
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  margin-top: 150px;

}